html {
    height: 100%;
}

body {
    background-image: url("../Photos/9faf7d9ef20efee20bb209bd2acfe18e.jpeg");
    background-size: 100% 100%;
    height: 100%;
    font-family: 'Rubik Mono One', sans-serif;
}

p {
    position: absolute;
    font-size: 40px;
    font-weight: bolder;
    -webkit-text-stroke-width: 1px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    animation-name: opacity;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
}

@keyframes opacity {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

#whiteOne {
    top: 8%;
    left: 45%;
    color: white;
    -webkit-text-stroke-color: black;
}

#whiteTwo {
    top: 25%;
    left: 25%;
    color: white;
    -webkit-text-stroke-color: black;
    animation-delay: 10s;
}

#whiteThree {
    top: 25%;
    left: 60%;
    color: white;
    -webkit-text-stroke-color: black;
    animation-delay: 20s;
}

#whiteFour {
    top: 35%;
    left: 10%;
    color: white;
    -webkit-text-stroke-color: black;
    animation-delay: 30s;
}

#whiteFive {
    top: 35%;
    left: 70%;
    color: white;
    -webkit-text-stroke-color: black;
    animation-delay: 40s;
}

#whiteSix {
    top: 45%;
    left: 44%;
    color: white;
    -webkit-text-stroke-color: black;
    animation-delay: 50s;
}

#blackOne {
    top: 89%;
    left: 45%;
    color: black;
    -webkit-text-stroke-color: white;
    animation-delay: 5s;
}

#blackTwo {
    top: 73%;
    left: 24%;
    color: black;
    -webkit-text-stroke-color: white;
    animation-delay: 15s;
}

#blackThree {
    top: 73%;
    left: 60%;
    color: black;
    -webkit-text-stroke-color: white;
    animation-delay: 25s;
}

#blackFour {
    top: 60%;
    left: 10%;
    color: black;
    -webkit-text-stroke-color: white;
    animation-delay: 35s;
}

#blackFive {
    top: 60%;
    left: 70%;
    color: black;
    -webkit-text-stroke-color: white;
    animation-delay: 45s;
}

#blackSix {
    top: 53%;
    left: 44%;
    color: black;
    -webkit-text-stroke-color: white;
    animation-delay: 55s;
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
          -webkit-tap-highlight-color: transparent;
}
  
button {
    position: absolute;
    left: 70%;
    top: 2%;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background: white;
    border: 2px solid black;
    box-shadow: 5px 5px 0 black,
          -5px -5px 0 black,
          -5px 5px 0 black,
          5px -5px 0 black;
    transition: 500ms ease-in-out;
}
  
button:hover {
      box-shadow: 20px 5px 0 black, -20px -5px 0 black;
}
  
button:focus {
      outline: none;
}

