body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: auto;
}

body::before {
    background-image: url("../Photos/Background.jpeg");
    background-attachment: fixed;
    opacity: 0.6;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.player {
    display: flex;
    flex-direction: column;
    margin: 30px;
    border: 5px solid gray;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    background-size: cover;
    filter: grayscale(100%);

}

#allPlayers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
}

.name, .rating {
    font-size: 40px;
    padding-top: 20px;
    font-family: 'Rubik Mono One', sans-serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: aliceblue;
    margin: 10px;

}

.active {
    transform: scale(1.1);
    filter: grayscale(0%);
    border: 5px solid yellow;
}

#generateButton {
    position: fixed;
    bottom: 50px;
    background-color: red;
    font-size: larger;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30px;
    color: white;
    font-family: 'Rubik Mono One', sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    box-shadow: 2px;
    border: 5px solid black;
}

audio {
    margin-top: 40px;
}

#allPlayers{
	display: none;
}

#errorMessage{
	display: none;
	color: red;
}

#loader {	
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-top: 40px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
